<h1>About Us</h1>
<p>
The Cake Mom & Co. was started in 2009 in Sikeston, Missouri by Jennifer Lopez.
In 2012 Emily came on board and the team was created. We both specialize in creating
a custom cake that will be the centerpiece to you next event!
</p>